<%= form_for @author do |f| %>
  <!-- Validate form input -->
  <% if @author.errors.any? %>
    <div class="alert alert-danger">
      <% @author.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :first_name %>
    <%= f.text_field :first_name, class: 'form-control', placeholder: "John" %>
  </div>

  <div class="form-group">
    <%= f.label :last_name %>
    <%= f.text_field :last_name, class: 'form-control', placeholder: "Appleseed" %>
  </div>

  <%= f.submit "Submit", class: 'btn btn-primary' %>
  <%= link_to "Cancel", authors_path, class: 'btn btn-default' %>

<% end %>
