<h2>Add New Publisher</h2>

<%= form_for @publisher do |f| %>
  <!-- Validate from input -->
  <% if @publisher.errors.any? %>
    <div class="alert alert-danger">
      <% @publisher.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <%= f.submit "Submit", class: 'btn btn-primary' %>
  <%= link_to "Cancel", publishers_path, class: 'btn btn-default' %>

<% end %>
